
@{
    ViewBag.Title = "ContactUs";
}
<div style="padding-top:10px;float:left;padding-left:50px;">
<img src="~/Images/contactus.jpg" />
</div>
<div style="float:left;margin-left:220px;margin-top:50px;">
    <div>
        <h2><b>Contact Us</b></h2>
        AT
        <h1>123-456-7890</h1>
         </div><br /><br />
    <div>
         <h3><b>carz@help.com</b></h3>
    </div>
</div>
<div style="clear:both;"></div>
