
@{
    ViewBag.Title = "Home";
}

<div class="container" style="height:400px;width:100%">
    <div class="container" style="padding-left:60px;">
        <p><h4><b>Exotic cars on rent and for sale.</b></h4></p>
    </div><br /><br />
    <div>
        <img src="~/Images/16-cars.jpg" style="width:1530px;height:600px;float:left" />
    </div>
    </div>

    

