
@{
    ViewBag.Title = "VehicleForSale";
}


<div>
    <img src="~/Images/AMDB.jpg" style="width:100px;height:100px;" />
    <h1>Aston Martin DB10</h1>
    <b>Details on Demand</b>
</div>

<div>
    <img src="~/Images/GT.jpg" style="width:100px;height:100px;" />
    <h1>Continental GT</h1>
    <b>Details on Demand</b>
</div>
<div>
    <img src="~/Images/TESLA.jpg" style="width:100px;height:100px;" />
    <h1>Tesla Model X</h1>
    <b>Details on Demand</b>
</div>